@use '../theme-variables.scss' as *;
@use 'sass:color';
.mat-toolbar {
  background-color: $color-primary;
  color: color.adjust($color-neutral-variant, $lightness: +50%);
}

.mat-icon {
  color: color.adjust($color-neutral-variant, $lightness: +50%);
}
