<div class="flex flex-col items-center justify-center h-screen">
  <mat-form-field appearance="outline" class="w-1/2">
    <mat-label>Enter your text</mat-label>
    <input class="p-6 border rounded-md" matInput />
  </mat-form-field>
  <div class="flex space-x-2 mt-4">
    <mat-chip-grid>
      <mat-chip class="cursor-pointer m-4 p-2 rounded-m">Suggestion 1</mat-chip>
      <mat-chip class="cursor-pointer m-4 p-2 rounded-m">Suggestion 2</mat-chip>
      <mat-chip class="cursor-pointer m-4 p-2 rounded-m">Suggestion 3</mat-chip>
    </mat-chip-grid>
  </div>
</div>
