// Custom Theming for Angular Material
@use '@angular/material' as mat;
@use 'custom-theme-pink-accent.scss' as *;
@use 'theme-variables.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.elevation-classes();
@include mat.app-background();

$classic-cocktail-cabinet-theme: $my-theme;

:root {
  @include mat.all-component-themes($classic-cocktail-cabinet-theme);
}

@include mat.typography-hierarchy($classic-cocktail-cabinet-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  @apply font-body;
}
